// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$color--gray: 			#cccccc;
$color--gray--light: 			#eeeeee;
$color--gray--dark: 	#999;
$color--gray--darker:	#38383a;
$color--red:			#a6040f; 
$color--red--light:		#e16a77;
$color--red--light--hover:		#c65864;
$color--white:			#ffffff;
$color--white--smoke:	#f1f1f1;
$brand-primary:         $color--red;

$color--blue--fb:		#3b5998;
$color--blue--tw:		#55acee;